.row-screen {
  justify-content: start;
  background-image: url('../../images/bidang/lukis.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.ms-wrapper {
  padding: 5rem 0;
}

.ms-wrapper-title {
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
}

.ms-wrapper-text p {
  font-size: 15px;
}

.ms-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ms-image {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  object-fit: cover;
}

.ms-profile-title {
  font-size: 16px;
  font-weight: 700;
}

.ms-profile-name {
  font-size: 20px;
}

.img-screen {
  /* padding-inline: 4rem; */
  display: flex;
  justify-content: center;
}

.i-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* padding: 100px; */
}

/* .rows {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.i-title {
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.i-bor {
  border: 2px solid #e5e5e5;
  display: flex;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 30px;
  /* flex-direction: column; */
}

.i-bor-img {
  width: 55px;
  height: 55px;
  border: 2px solid #f9bd67;
  border-radius: 10px;
  background-color: #f9bd67;
  margin: 10px;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  /* display: flex; */
  flex-direction: row;
}

.i-text h5 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  margin-top: 8px;
  justify-content: space-between;
}

.i-btn Button {
  border-radius: 100px;
  background-color: #242a55;
  margin-bottom: 10px;
}

.columns2 {
  border: 2px solid #e5e5e5;
  display: flex;
  border-radius: 10px;
  justify-content: center;
}

.p-title {
  font: size 20px;
  font-weight: bold;
}

.p-bor {
  /* display: flex; */
  flex-direction: row;
}

.p-bor h5 {
  flex-direction: row;
}
