.banner {
    position: relative;
    width: 100%;
}

.img-dashboard {
    position: absolute;
    z-index: 1;
    width: 15rem;
    bottom: 0%;
    right: 5%;
}

.banner-card {
    align-self: flex-end;
    background: linear-gradient(91.64deg, #FFEFEB 53.27%, #F76761 118.78%);
    width: 90%;
    padding: 2rem;
}

.img-kelas {
    width: 90%;
    height: 11.5rem;
    object-fit: cover;
}

.button-selengkapnya {
    padding: 0.25rem;
    background: #242A55;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.link-selengkapnya {
    text-decoration: none;
    font-weight: 650;
    color: white;
}

.link-selengkapnya:hover {
    color: rgba(255, 255, 255, 0.815);
}

.ikon-modul {
    background-color: #F9BD67;
    width: 100%;
    font-size: 4rem;
    border-radius: 30px;
}

.dashboard-profile {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 100%;
}

.link-abu {
    font-size: small;
    text-decoration: none;
    color: #808080;
}

.link-abu:hover {
    color: black;
}

.leaderboard-profil-container {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard-crown {
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 1.25rem;
    color: #F9BD67;
    transform: rotate(15deg);
}

.leaderboard-profil {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 100%;
}

.leaderboard-nama {
    text-align: left;
    font-weight: 500;
}

.leaderboard-poin {
    font-size: small;
    background: #FFEFEB;
    border: 1px solid #F76761;
    padding: 0 0.25rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .img-dashboard {
        width: 40%;
        right: 0%;
    }

    .banner-card {
        font-size: x-small;
        padding: 1rem;
    }

    .banner-card h4 {
        font-size: small;
    }
}