.navbar {
    background-color: #242A55;
}

.logo {
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    margin-right: 3rem;
}

.logo:hover {
    color: #cdd0eb;
}

.link {
    margin: 0.5rem 1.5rem 0.5rem 0;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.link:hover {
    color: white;
}

.arrow {
    margin: auto 0 0.1rem 0.5rem;
}

.navbar-profil {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 100%;
}

.profil-dropdown {
    color: white;
    background-color: #242A55;
}

.home {
    margin: 0 0.5rem 0.1rem 0;
}