.background {
    background-color: #242A55;
    color:white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.col-margin-left {
    margin-left: 3.5rem;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.col-margin-right {
    margin-right: 3.5rem;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.logo-footer {
    font-family: 'Krona One', sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
}

.logo-footer:hover {
    color: #cdd0eb;
}

.judul {
    font-weight: 700;
    margin: 0.5rem 0;
}

.arrow {
    margin: auto 0 0.1rem 0.5rem;
}

.quick-link {
    text-decoration: none;
    color: white;
}

.quick-link:hover {
    color: white;
}

@media (max-width: 962px) {
    .background {
        justify-content: center;
        align-items: center;
    }

    .col-margin-left {
        margin: 0;
    }

    .col-margin-right{
        margin: 0;
    }

    .row-column {
        flex-direction: column;
        width: 100%;
    }
}

/* @media (max-width: 576px) {
    .row-column-2 {
        flex-direction: column;
    }
} */